@page "/checkout"

@using QueVistoHoje.RCL.Data
@using QueVistoHoje.RCL.Data.Entities
@using System.Text.Json.Serialization;


@inject NavigationManager Navigation
@inject UserService UserService
@inject APIService APIService
@inject HttpClient Http

@if (string.IsNullOrEmpty(UserService.Token?.ToString()))
{
    Navigation.NavigateTo("/");
}
else
{
    <h3>Checkout</h3>

    <EditForm Model="@encomenda" OnValidSubmit="FinalizarEncomenda">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="enderecoEntrega">Endereço de Entrega:</label>
            <InputText id="enderecoEntrega" class="form-control" @bind-Value="encomenda.EnderecoEntrega" />
        </div>

        <div class="form-group">
            <label for="metodoPagamento">Método de Pagamento:</label>
            <InputSelect id="metodoPagamento" class="form-control" @bind-Value="encomenda.MetodoPagamento">
                <option value="">Selecione...</option>
                @foreach (MetodoPagamento metodo in Enum.GetValues(typeof(MetodoPagamento)))
                {
                    <option value="@metodo">@Encomenda.GetMetodoPagamentoString(metodo)</option>
                }
            </InputSelect>
        </div>

        <div>
            <h5>Produtos no Carrinho:</h5>

            <table class="table">
                <thead>
                    <tr>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Preço Unitário</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var encomendaProduto in encomenda.EncomendaProdutos)
                    {
                        <tr>
                            <td>
                                <img src="@encomendaProduto.Produto.Imagem" alt="@encomendaProduto.Produto.Nome" style="width: 100px; height: auto;" />
                            </td>
                            <td>@encomendaProduto.Produto.Nome</td>
                            <td>@encomendaProduto.Produto.Preco</td>
                            <td>@encomendaProduto.Quantidade</td>
                            <td>@(encomendaProduto.Produto.Preco * encomendaProduto.Quantidade)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end"><strong>Total:</strong></td>
                        <td>@encomenda.PrecoTotal</td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div>
            <button class="btn btn-primary">Finalizar Encomenda</button>
        </div>
    </EditForm>
}

@code {
    private string URL = APIService.Link + "/api/encomendas/make";

    private Encomenda encomenda = new Encomenda();
    private string errorMessage = string.Empty;

    protected override void OnInitialized()
    {
        encomenda = new Encomenda
            {
                EnderecoEntrega = "", 
                Data = DateTime.Now,
                MetodoPagamento = MetodoPagamento.CARTAO_CREDITO_OU_DEBITO,
                EncomendaProdutos = UserService.Carrinho
                    .GroupBy(produto => produto.Id)
                    .Select(group => new EncomendaProduto
                    {
                        Produto = group.First(),
                        Quantidade = group.Count()
                    })
                    .ToList()
            };

        encomenda.CalcularPrecoTotal();
    }

    private async Task FinalizarEncomenda()
    {
        var token = UserService.Token;

        if (string.IsNullOrWhiteSpace(token))
        {
            errorMessage = "Token is required.";
            return;
        }

        try
        {
            var encomendaRequest = new EncomendaRequest
                {
                    TokenRequest = token,
                    Encomenda = encomenda
                };

            var response = await Http.PostAsJsonAsync(URL, encomendaRequest);

            Console.WriteLine($"Response: {response.StatusCode}");

            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo("/");
            }
            else
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Response Content: {responseContent}");

                var errorResponse = await response.Content.ReadFromJsonAsync<ApiError>();
                errorMessage = errorResponse?.Description ?? "Failed to submit encomenda. Please try again.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred while finalizing the encomenda.";
            Console.WriteLine($"Encomenda submission error: {ex.Message}");
        }
    }

    private class ApiError
    {
        [JsonPropertyName("Message")]
        public string Description { get; set; } = string.Empty;

        [JsonPropertyName("Detalhes")]
        public string? Details { get; set; }
    }

    public class EncomendaRequest
    {
        [JsonPropertyName("encomenda")]

        public Encomenda Encomenda { get; set; }

        [JsonPropertyName("tokenRequest")]

        public string TokenRequest { get; set; }
    }

}

