@page "/"

@using QueVistoHoje.Data.Entities
@inject HttpClient Http

<div class="carousel-container">
    <button class="carousel-button prev" @onclick="ShowPreviousImage" disabled="@IsSingleImage">❮</button>

    <div class="carousel-images" style="transform: translateX(@(-currentIndex * 100)%)">
        @foreach (var produto in produtos)
        {
            <img src="@produto.Imagem" class="carousel-image" />
            <div class="carousel-caption">
                @produto.Nome
            </div>
        }
    </div>

    <button class="carousel-button next" @onclick="ShowNextImage" disabled="@IsSingleImage">❯</button>
</div>

@code {
    private List<Produto> produtos = new List<Produto>();
    private int currentIndex = 0;
    private bool IsSingleImage => produtos.Count <= 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            produtos = await Http.GetFromJsonAsync<List<Produto>>("https://2jfs3w0w-7119.uks1.devtunnels.ms/api/produtos/");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching produtos: {ex.Message}");
        }
    }

    private void ShowNextImage()
    {
        if (currentIndex < produtos.Count - 1)
        {
            currentIndex++;
        }
        else
        {
            currentIndex = 0;
        }
    }

    private void ShowPreviousImage()
    {
        if (currentIndex > 0)
        {
            currentIndex--;
        }
        else
        {
            currentIndex = produtos.Count - 1;
        }
    }
}
